.wel{
	padding-top: 20px;
    text-transform: uppercase;
    font-family: prague;
    letter-spacing: 3px;
}
.txt{
	letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}
.bt{
	margin-top: 10px;
    margin-bottom: 100px;
    width: 150px;
}
.why{
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    margin-top: 60px;
}
.navbar{
    background-color: #0000009e;
}
.home{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 100px;
}
.footer{
	font-size: 13px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px; 
    font-weight:300; 
    letter-spacing: 1px;
}